body{
  background:url("https://images.unsplash.com/photo-1454177697940-c43d9f9a7307?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38f0195a8272b048bbdfa521880d871d&auto=format&fit=crop&w=3668&q=80");
  background-size:cover;
  
}
#title{
  padding-top:20%;
  font-family:'Waiting for the Sunrise', cursive;
  color:white;
  font-size:80px;
}
p{
  color:white;
  font-style:italic;
  font-size:20px;
}
img{
  padding:25px;
  height:50px;
}
.quotes{
/*    background:url("https://thumbs.dreamstime.com/b/papel-o-pergamino-viejo-5107133.jpg"); */
  background-size:cover;
  width:50%;
  margin-right:auto;
  margin-left:auto;
  margin-top:auto;
  margin-bottom:auto;
  border: none;
  margin-top:50px;
  padding:20px;
  height:500px;
  color:white;
  font-family:'Waiting for the Sunrise', cursive;
  font-weight:600;
}
#quote{
  font-size:50px;
}

.author{
  font-size:30px;
  font-style:italic;
}
#twitterIcon{
  color: rgb(0,172,237);
  font-size:40px;
  cursor:pointer;
}
#tumblrIcon{
  font-size:40px;
  cursor:pointer;
}
#newQuote{
  margin-bottom:20px;
  background-color:#e74c3c;
  color:white;
  border:none;
  margin-right: 10px;
}

#footer {
  position: relative;
  margin-top: 100px;
  font-size: 25px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  color: black;
}
#footer a {
  text-decoration: none;
  color: #0b60a5;
}
#footer a:hover {
  color: #43b0ef;
}